html {
	scroll-behavior: smooth;
	overscroll-behavior: contain;
}

.center {
	text-align: center;
}

.author-link {
	display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media print {
	.footnote-content {
		margin-top: -5px;
	}

	iframe,
	.twitter-tweet {
		display: none !important;
	}
}

hr,
hr:print {
	display: block;
	height: 1.2px;
	background: transparent;
	width: 100%;
	border: none;
	border-top: solid 1.2px var(--input);
}

.dark {
	hr {
		display: block;
		height: 1.2px;
		background: transparent;
		width: 100%;
		border: none;
		border-top: solid 1.2px var(--input);
	}
}

figcaption {
	color: var(--tw-prose-captions);
}

@media (min-width: 768px) {
	[id^="footnote-"],
	h1,
	h2,
	h3,
	h4 {
		scroll-margin-top: 53px; /* Adjusted to the header's height */
	}
}

@media (max-width: 767px) {
	[id^="footnote-"],
	h1,
	h2,
	h3,
	h4 {
		scroll-margin-top: 0;
	}
}

iframe {
	margin: 0 auto;
	display: block;
	margin-top: 1rem;
	border-radius: 10px;
	width: 560px;
	height: 315px;
	max-width: 100%;
}

.twitter-tweet {
	margin-left: auto;
	margin-right: auto;
}

@utility prose {
	blockquote {
		/* Disable adding quote marks to block-quotes: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
		p {
			&:first-of-type::before,
			&:last-of-type::after {
				content: none;
			}
		}
	}
}

th,
td {
	border: 1px solid #525252 !important;
	padding: 0.4em 0.8em !important;
	text-align: left !important;
	vertical-align: top !important;
}

table {
	margin-left: auto !important;
	margin-right: auto !important;
	overflow-x: scroll !important;
}
