.footnote-content {
	margin-top: -15px;
}

@media print {
	.footnote-content {
		margin-top: -5px;
	}
}

.footnote-number {
	scroll-margin-top: 60px;
}

.footnote-link {
	scroll-margin-top: 60px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* make background color white on print mode */
@media print {
	body {
		background-color: white;
	}
}
