.footnote-content {
	margin-top: -15px;
}

.footnote-number {
	scroll-margin-top: 60px;
}

.footnote-link {
	scroll-margin-top: 60px;
}

.center {
	text-align: center;
}

.author-link {
	display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media print {
	body {
		background-color: white;
	}

	.footnote-content {
		margin-top: -5px;
	}
}

@media (min-width: 768px) {
	[id^="footnote-"] {
		scroll-margin-top: 53px; /* adjust to the header's height */
	}
}

@media (max-width: 767px) {
	[id^="footnote-"] {
		scroll-margin-top: 0;
	}
}

html {
	scroll-behavior: smooth;
}
